<mat-card class="card_info">
    <mat-card-content>
         <div class="header">
             <h1>Solicitud en Línea
             </h1>
         </div>
         <div class="sub">
             <h3 >Consulta Medica Domiciliaria</h3>
         </div>
     </mat-card-content>
     <mat-divider></mat-divider>
     <div class="grid">
        <div class="grid-1 separator">
            <p class="imp">Información Importante</p>
            <p>Por favor tener en cuenta la siguiente información antes de tomar el  servicio:</p>
            <ul>
                <li>Valor de la consulta&nbsp; $100.000 COP&nbsp; (por persona). Pago en efectivo, Tarjeta Débito y Tarjeta Crédito.</li>
                <li>Atendemos únicamente en el perímetro urbano de Bogotá, Colombia.&nbsp;Consultar nuestra cobertura</li>
                <li>El tiempo estimado de espera es entre 60 y 150 minutos, según el tráfico.</li>
                <li>No atendemos emergencias ni situaciones en donde esté&nbsp; en riesgo la vida del usuario.</li>
                <li>Nuestro Servicio es prestado por médicos generales.</li>
                </ul>
        
        </div>
        <div class="grid-2">
            <p class="imp">Encuesta de accesibilidad al servicio * </p>
            <p>Por favor confirma que el usuario del servicio cumple con las siguientes condiciones, las cuales son fundamentales para acceder a nuestra Consulta Médica Domiciliaria:

            </p>
            <ul>
                <li>Valor de la consulta&nbsp; $100.000 COP&nbsp; (por persona). Pago en efectivo, Tarjeta Débito y Tarjeta Crédito.</li>
                <li>Atendemos únicamente en el perímetro urbano de Bogotá, Colombia.&nbsp;Consultar nuestra cobertura</li>
                <li>El tiempo estimado de espera es entre 60 y 150 minutos, según el tráfico.</li>
                <li>No atendemos emergencias ni situaciones en donde esté&nbsp; en riesgo la vida del usuario.</li>
                <li>Nuestro Servicio es prestado por médicos generales.</li>
                </ul>
        
        </div>
     </div>

</mat-card>