<app-header (toggleSideBarForMe)="drawer.toggle()" ></app-header>

<mat-drawer-container>
    
        <mat-drawer #drawer fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
            <app-sidebar></app-sidebar>
        </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>